/* global */


/* 
html,
body {
    height: 100%;
} */

body {
    margin: 0;
    line-height: 1.6em;
    font-family: 'Raleway', 'sans-serif';
    font-size: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
    background: transparent;
}

button,
input,
textarea {
    font-family: inherit;
}

button {
    position: relative;
    overflow: hidden;
}

input {
    width: 100%;
    font-size: 1rem;
}


/* material-icon */

.material-icons {
    vertical-align: middle;
}


/* colors */

.blue {
    background: #2196f3 !important;
    border-color: #2196f3 !important;
    color: #fff !important;
}

.red {
    background: #f44336 !important;
    border-color: #f44336 !important;
    color: #fff !important;
}

.green {
    background: #4caf50 !important;
    border-color: #4caf50 !important;
    color: #fff !important;
}


/* effects */

.ripple {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.5);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}


/* layout */

.container {
    width: 96%;
    padding: 0 2%;
    max-width: 1199px;
    margin: 0 auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.col {
    flex: 1 auto;
}

.spacer {
    flex: 2 auto;
}

.close {
    float: right;
    line-height: inherit;
    cursor: pointer;
}


/* menubar */

.menubar {
    height: 64px;
    line-height: 64px;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.menubar>.container {
    display: flex;
    align-items: stretch;
}

.menubar .menu-toggler {
    cursor: pointer;
    margin: 0 5px;
    order: 1;
}

.menubar .menu-brand {
    display: flex;
    align-items: center;
}

.menubar .menu-logo {
    height: 56px;
}

.menubar .menu-subtitle {
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding: 0 5px;
}


/* menu */

.menu {
    flex: 1 auto;
    display: flex;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* overflow-x: auto; */
}

.menu .menu-item {
    /* flex: 1 auto; */
}

.menu .menu-link {
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    /* text-align: center; */
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu .menu-link.active {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 2px 0 0 #2196f3;
}

.menu .menu-link:hover {
    background-color: #a0c66f;
}


/* dropdown */

.dropdown {
    position: relative;
}

.dropdown .dropdown-btn i {
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-btn {
    background-color: #a0c66f;
}

.dropdown:hover .dropdown-btn i {
    transform: rotateZ(180deg);
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background: #f1f1f1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content .menu {
    flex-direction: column;
}


/* search form */

#search-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1001;
    overflow: auto;
    transform: translateY(100%);
    transition: all 0.5s ease;
}

#search-form.open {
    transform: translateY(0);
}

.search-results,
#search-form form {
    padding: 20px;
}


/* forms */

.input-group {
    position: relative;
    margin-top: 1rem;
}

.input-group input {
    border: none;
    background: transparent;
    padding: 0;
    height: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9e9e9e;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    top: 1rem;
    left: 0;
    height: 100%;
    z-index: 1;
    cursor: text;
    color: #9e9e9e;
    transform-origin: 0 0;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #26a69a;
    box-shadow: 0 2px 0 0 #26a69a;
    outline: none;
}

.input-group input.invalid {
    border-color: #f44336;
    box-shadow: 0 2px 0 0 #f44336;
    outline: none;
}

.input-group input.has-value+label,
.input-group input:focus+label {
    color: #26a69a;
    top: -1rem;
    font-size: 80%;
}

.input-group input.invalid+label {
    color: #f44336;
    animation-name: shake;
    animation-duration: 0.1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}

.btn {
    min-width: 88px;
    height: 36px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 1rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"]+label {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    height: 26px;
    line-height: 26px;
    padding-left: 3rem;
    margin: 10px 3rem;
    transition: all 0.3s ease;
}

.radio-group input[type="radio"]+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: 4px;
    box-sizing: border-box;
    background: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.radio-group input[type="radio"]:checked+label {
    color: #26a69a;
}

.radio-group input[type="radio"]:checked+label::before {
    background: #26a69a;
    border-color: #26a69a;
}


/* list-group */

.list-group {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group .list-item {
    margin: 15px 24px;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.list-group .list-item.with-avatar {
    position: relative;
    padding-left: 80px;
}

.list-group .list-item.with-avatar .avatar {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    background: #ddd;
    text-align: center;
    border-radius: 50%;
}

.list-group .list-item h3 {
    margin: 0;
}


/* chips */

.chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chip {
    display: flex;
    align-items: center;
    height: 36px;
    margin: 4px;
    padding: 0 1rem;
    background: #ddd;
    border-radius: 28px;
}

.chip .material-icons {
    opacity: 0.54;
}


/* media queries on max-width */


/* xs */

@media (max-width: 567px) {
    .hide-on-xs-below {
        display: none;
    }
}


/* sm */

@media (max-width: 767px) {
    .collapsible {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        z-index: 1001;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }
    .collapsible.open {
        transform: translateX(0);
    }
    .collapsible h2 {
        margin: 0;
        padding: 0 1rem;
    }
    .v-on-sm-below {
        flex-direction: column;
    }
    .dropdown .dropdown-content {
        position: static;
        box-shadow: none;
    }
}


/* md */

@media (max-width: 992px) {}


/* lg */

@media (max-width: 1199px) {}


/* media queries on min-width */

@media (min-width: 568px) {
    .hide-on-sm-above {
        display: none;
    }
}

@media (min-width: 768px) {
    .menu-toggler {
        display: none;
    }
    .collapsible h2 {
        display: none;
    }
}