/* global */


/* 
html,
body {
    height: 100%;
} */

body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Raleway', 'sans-serif';
    /* font-size: 14px; */
}

section {
    padding: 1rem 0;
}

section.highlighted-section {
    background-color: #eee;
}

section h2 {
    position: relative;
}

section h2::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    /* top: 0; */
    left: -10px;
    border-left: 3px solid #f44336;
}

a {
    color: #007bff;
    text-decoration: none;
    background: transparent;
}

button,
input,
textarea {
    font-family: inherit;
}

button {
    position: relative;
    overflow: hidden;
    outline: none;
}

input {
    width: 100%;
    font-size: 1rem;
}

img {
    border: 0;
}


/* material-icon */

.material-icons {
    vertical-align: middle;
}

.material-icons.tiny {
    font-size: 1rem;
}

.material-icons.small {
    font-size: 2rem;
}

.material-icons.medium {
    font-size: 3rem;
}

.material-icons.large {
    font-size: 4rem;
}


/* colors */

.blue {
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
    color: #fff !important;
}

.red {
    background-color: #f44336 !important;
    border-color: #f44336 !important;
    color: #fff !important;
}

.green {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    color: #fff !important;
}

.yellow {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: #000 !important;
}

.dark {
    background-color: #212121 !important;
    border-color: #212121 !important;
    color: rgba(255, 255, 255, 0.7) !important;
}

.transparent {
    background-color: transparent !important;
    border-color: transparent !important;
}


/* effects */

.ripple {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.5);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}


/* layout */

.container {
    width: 96%;
    padding: 0 2%;
    max-width: 1280px;
    margin: 0 auto;
}

.max-container {
    margin: auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.row {
    display: flex;
}

.row.justify-between {
    justify-content: space-between;
}

.row.justify-center {
    justify-content: center;
}

.row.align-center {
    align-items: center;
}

.row.wrap {
    flex-wrap: wrap;
}

.col {
    flex: 1 auto;
    padding: 0.75rem;
    box-sizing: border-box;
}

.spacer {
    flex: 2 auto;
}

.close {
    float: right;
    line-height: inherit;
    cursor: pointer;
}


/* menubar */

.menubar {
    width: 100%;
    line-height: 64px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.menubar>.container {
    display: flex;
    align-items: stretch;
}

.menubar .menu-toggler {
    cursor: pointer;
    margin: 0 5px;
    order: 1;
}

.menubar .menu-brand {
    display: flex;
    align-items: center;
}

.menubar .menu-logo {
    height: 56px;
}

.menubar .menu-subtitle {
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding: 0 6px;
    font-size: 12px;
}


/* menu */

.menu {
    flex: 1 auto;
    display: flex;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* overflow-x: auto; */
}

.menu .menu-item,
.menu .menu-link {
    display: block;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 100%;
    /* line-height: 1.6; */
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    white-space: nowrap;
}

.menu .menu-link {
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu .menu-link.active {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 2px 0 -1px #2196f3;
}

.menu .menu-link:hover {
    background-color: #a0c66f;
}


/* banner */

.banner {
    position: relative;
    max-height: 250px;
    overflow: hidden;
}

.banner img {
    width: 100%;
}

.banner .banner-overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .banner-overlay h1 {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}


/* forms */

.input-group {
    position: relative;
    margin-top: 1rem;
}

.input-group input {
    border: none;
    background: transparent;
    padding: 0;
    height: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9e9e9e;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    top: 1rem;
    left: 0;
    height: 100%;
    z-index: 1;
    cursor: text;
    color: #9e9e9e;
    transform-origin: 0 0;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #26a69a;
    box-shadow: 0 2px 0 0 #26a69a;
    outline: none;
}

.input-group input.invalid {
    border-color: #f44336;
    box-shadow: 0 2px 0 0 #f44336;
    outline: none;
}

.input-group input.has-value+label,
.input-group input:focus+label {
    color: #26a69a;
    top: -1rem;
    font-size: 80%;
}

.input-group input.invalid+label {
    color: #f44336;
    animation-name: shake;
    animation-duration: 0.1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}

.btn {
    display: inline-block;
    /* min-width: 88px; */
    height: 36px;
    line-height: 36px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 1rem;
}

.btn.raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn.flat {
    background-color: transparent !important;
}

.btn.circle {
    width: 64px;
    height: 64px;
    padding: 0;
    border-radius: 50%;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"]+label {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    height: 26px;
    line-height: 26px;
    padding-left: 3rem;
    margin: 10px 3rem;
    transition: all 0.3s ease;
}

.radio-group input[type="radio"]+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: 4px;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.radio-group input[type="radio"]:checked+label {
    color: #26a69a;
}

.radio-group input[type="radio"]:checked+label::before {
    background-color: #26a69a;
    border-color: #26a69a;
}


/* dropdown and dropup */

.dropup,
.dropdown {
    position: relative;
}

.dropup .dropdown-btn,
.dropdown .dropdown-btn {
    /* background: transparent; */
    /* border: none; */
}

.dropup .dropdown-btn .rotate,
.dropdown .dropdown-btn .rotate {
    transition: all 0.3s ease;
}

.dropup.show .dropdown-btn,
.dropdown.show .dropdown-btn {
    background-color: #a0c66f;
}

.dropup.show .dropdown-btn .rotate,
.dropdown.show .dropdown-btn .rotate {
    transform: rotateZ(180deg);
}

.dropup .dropdown-content,
.dropdown .dropdown-content {
    display: none;
    min-width: max-content;
    max-height: 250px;
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #f1f1f1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.dropup .dropdown-content {
    bottom: 100%;
}

.dropup.show .dropdown-content,
.dropdown.show .dropdown-content {
    display: block;
}

.dropup .dropdown-content .menu,
.dropdown .dropdown-content .menu {
    flex-direction: column;
    line-height: 50px;
}


/* reveal */

.reveal {
    position: relative;
}

.reveal .reveal-hover {}

.reveal .reveal-content {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 10;
    padding: 40% 10px;
    box-sizing: border-box;
    /* display: none; */
}

.reveal:hover .reveal-content {
    display: block;
}


/* list-group */

.list-group {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group .list-item {
    margin: 15px 24px;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.list-group .list-item.with-avatar {
    position: relative;
    padding-left: 80px;
}

.list-group .list-item.with-avatar .avatar {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: #ddd;
    text-align: center;
    border-radius: 50%;
}

.list-group .list-item h3 {
    margin: 0;
}


/* chips */

.chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chip {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin: 4px;
    padding: 0 12px;
    background-color: #ddd;
    border-radius: 28px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chip img {
    float: left;
    width: 30px;
    height: 30px;
    margin: 1px 8px 0 -11px;
    border-radius: 50%;
}

.chip .material-icons {
    opacity: 0.54;
}


/* carousel */

.carousel {
    max-height: calc(100vh - 114px);
    position: relative;
    overflow: hidden;
}

.carousel .carousel-prev,
.carousel .carousel-next {
    display: block;
    padding: 2rem 0;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.carousel .carousel-prev:hover,
.carousel .carousel-next:hover {
    background: rgba(0, 0, 0, 0.5);
}

.carousel .carousel-prev {
    left: 0;
}

.carousel .carousel-next {
    right: 0;
}


/* carousel-indicators */

.carousel .carousel-indicators {
    position: absolute;
    bottom: 0;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 24px 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.carousel .carousel-indicators li.active {
    background: rgba(255, 255, 255, 1);
}


/* carousel-item */

.carousel .carousel-item {
    display: none;
    width: 100%;
    height: auto;
}

.carousel .carousel-item.active {
    display: block;
}

.carousel .carousel-item img {
    display: block;
    width: 100%;
}


/* carousel animations */

.fade-out {
    animation: fade-out 0.6s forwards ease-in-out;
}

.fade-in {
    animation: fade-in 0.6s forwards ease-in-out;
}

@keyframes fade-in {
    from {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    to {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* promo */

.promo {
    display: flex;
}

.promo .promo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.promo .promo-content {
    text-align: center;
}

.promo .promo-content .promo-title {
    font-size: 18px;
}

.promo .promo-content .promo-text {
    font-size: 14px;
}


/* card */

.card {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card.light {
    background: transparent;
    box-shadow: none;
    border: none;
}

.card .card-header {
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    align-self: stretch;
}

.card .card-header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: auto;
}

.card .card-header .btn-floating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card>.overlay {
    position: absolute;
}

.card .card-stacked {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.card .card-content {
    flex: 1 auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.card .card-content .card-title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

.card .card-content .card-subtitle {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}

.card .card-content .card-text {
    font-size: 13px;
    margin: 0.5rem 0;
}

.card .card-footer {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}


/* timeline */

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.timeline::before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #26a69a;
}

.timeline>li {
    position: relative;
    width: 46%;
    margin: 15px 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.timeline>li:nth-child(even) {
    right: 33px;
    margin-left: 4%;
    margin-right: 50%;
}

.timeline>li:nth-child(odd) {
    left: 33px;
    margin-left: 50%;
}

.timeline>li::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.timeline>li:nth-child(even)::before {
    right: -10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.timeline>li:nth-child(odd)::before {
    left: -10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.timeline>li::after {
    /* content: "";
    display: block;
    position: absolute;
    left: -41px;
    top: 13px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border: 2px solid #2196f3;
    border-radius: 50%; */
}

.timeline>li .avatar {
    position: absolute;
    top: 6px;
    width: 28px;
    height: 28px;
    text-align: center;
    color: #fff;
    background-color: #26a69a;
    border: 2px solid #26a69a;
    border-radius: 50%;
}

.timeline>li:nth-child(even) .avatar {
    right: -49px;
}

.timeline>li:nth-child(odd) .avatar {
    left: -49px;
}

.timeline>li h3 {
    margin: 0;
    margin-bottom: 10px;
}


/* collapse / accordion */

.accordion {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.accordion>li {
    background-color: #fff;
    margin: 0 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.accordion>li.active {
    margin: 16px 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.accordion>li .accordion-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.accordion>li .accordion-body {
    display: none;
    padding: 1rem 1.5rem;
}

.accordion>li.active .accordion-body {
    display: block;
}


/* bottom sheet */

.bottom-sheet {
    transform: translateY(100%);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.bottom-sheet.fullscreen {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}

.bottom-sheet.open {
    transform: translateY(0);
}


/* progress */

.progress {
    width: 100%;
    height: 5px;
    line-height: 1;
    position: relative;
    background-color: #ddd;
    box-sizing: border-box;
    cursor: pointer;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.progress .progress-bar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: inherit;
    will-change: width;
}

#time-buffered {
    background-color: #aaa;
    z-index: 1;
}

#volume-current,
#time-current {
    background-color: #f44336;
    z-index: 2;
}

.progress .progress-float {
    position: absolute;
    display: none;
    bottom: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -10px);
    background-color: #212121;
    color: #fff;
    font-size: 14px;
    padding: 4px;
}

.progress .progress-float::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, 100%);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
    border-width: 5px 5px 0 5px;
}

.progress .progress-float::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    border-style: solid;
    border-color: #212121 transparent transparent transparent;
    border-width: 5px 5px 0 5px;
}

.progress:hover .progress-float {
    display: block;
}

.progress .progress-handle {
    position: absolute;
    top: 50%;
    display: block;
    width: 10px;
    height: 10px;
    /* border: 1px solid #212121; */
    /* box-shadow: 0 -1px 0 #212121, 1px 0 0 #212121, 0 1px 0 #212121, -1px 0 0 #212121; */
    background-color: #f44336;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 3;
    will-change: left;
}


/* media queries on max-width */


/* xs */

@media (max-width: 575px) {
    .max-container {
        max-width: 380px;
    }
    .hide-on-xs-below {
        display: none !important;
    }
    .xs-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .xs-4 {
        flex-basis: 33%;
        max-width: 33%;
    }
    .xs-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .xs-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .xs-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .xs-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .xs-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .xs-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}


/* sm 576 - 767px */

@media (min-width: 576px) {
    .max-container {
        max-width: 660px;
    }
    .hide-on-xs-above {
        display: none !important;
    }
    .sm-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .sm-4 {
        flex-basis: 33%;
        max-width: 33%;
    }
    .sm-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .sm-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .sm-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .sm-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .sm-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .sm-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .hide-on-sm-below {
        display: none !important;
    }
    .collapse-sidenav {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        z-index: 1001;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }
    .collapse-sidenav.open {
        transform: translateX(0);
    }
    .collapse-sidenav h2 {
        margin: 0;
        padding: 0 1rem;
    }
    .v-on-sm-below {
        flex-direction: column !important;
    }
    .dropdown .dropdown-content.static-on-sm-below {
        position: static;
        box-shadow: none;
    }
}


/* md 768 - 991 */

@media (min-width: 768px) {
    .max-container {
        max-width: 800px;
    }
    .hide-on-sm-above {
        display: none !important;
    }
    .menu-toggler {
        display: none;
    }
    .collapse-sidenav h2 {
        display: none;
    }
    .v-on-md-above {
        flex-direction: column;
    }
    .md-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .md-4 {
        flex-basis: 33%;
        max-width: 33%;
    }
    .md-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .md-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .md-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .md-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .md-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (max-width: 991px) {
    .v-on-md-below {
        flex-direction: column !important;
    }
}


/* lg 992 - 1199 */

@media (min-width: 992px) {
    .max-container {
        max-width: 1090px;
    }
    .v-on-lg-above {
        flex-direction: column;
    }
    .card.horizontal {
        flex-direction: row;
    }
    .card.horizontal .card-header {
        flex-basis: 50%;
        max-width: 50%;
        padding-top: 50%;
    }
    .card.horizontal .card-header img {
        width: auto;
        height: 100%;
    }
    .card.horizontal .card-stacked {
        flex-basis: 50%;
        max-width: 50%;
    }
    .lg-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .lg-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    .lg-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .lg-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .lg-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .lg-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .lg-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .lg-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}


/* xl 1200px and above */

@media (min-width: 1200px) {
    .max-container {
        max-width: none;
    }
    .v-on-xl-above {
        flex-direction: column;
    }
    .xl-3 {
        flex-basis: 25%;
        max-width: 25%;
    }
    .xl-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }
    .xl-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }
    .xl-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    .xl-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }
    .xl-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .xl-9 {
        flex-basis: 75%;
        max-width: 75%;
    }
    .xl-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}


/*--------------------------------------------------------------
####### Start Ryan's Styles
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
    padding: 3%;
}

@media screen and (min-width:767px) {
    .content {
        float: left;
        padding: 0 2%;
        width: calc(96% - 26% - 30px);
    }
    .sidebar {
        width: 24%;
        padding: 0 1%;
        float: left;
    }
}


/*--------------------------------------------------------------
# Who We Are
--------------------------------------------------------------*/

.who-we-are-bg-side {
    background-color: #f2f2f2;
    border-top: 2px solid #a0ce4e;
}

.flexbox .col {
    min-height: 180px;
    padding: 20px;
    height: auto;
}

.flexbox .col:nth-child(1) {
    background-image: url(https://avada.theme-fusion.com/church/wp-content/uploads/sites/35/2015/09/mission_image2.jpg);
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexbox .col:nth-child(2) {
    background-color: rgb(234, 234, 234);
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    color: #747474;
    padding-left: 5%;
    padding-right: 5%;
}

.flexbox .col:nth-child(2) p {
    text-align: justify;
}

.who-we-are p {
    color: #424242;
}

.who-we-are-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.who-we-are-menu li {
    line-height: 1.5;
    /* padding: 5px 5px 7px 5px;*/
    padding: 0;
    margin: 1em 0;
}

.h-divider {
    background-color: #a0c66f;
    height: 4px;
    width: 120px;
}

ul.who-we-are-menu li:nth-child(1) h1 {
    margin: 0;
    font-size: 3em;
}

ul.who-we-are-menu li:nth-child(4) h5 {
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul.who-we-are-menu li:nth-child(5) {
    color: #969696;
    font-size: 0.9rem;
    line-height: 2;
    padding-bottom: 15px;
}

ul.who-we-are-menu li:nth-child(6) {
    background-color: #a0c66f;
    color: #fff;
    padding: 8px 10px;
    text-align: center;
    width: 60%;
}

ul.who-we-are-menu li:nth-child(6) span {
    font-size: 0.85rem;
}

ul.who-we-are-menu li:nth-child(6) i {
    vertical-align: middle;
    font-size: 1.5rem;
}

ul.who-we-are-menu li:nth-child(6):hover {
    border: 1px solid #a0c66f;
    color: #a0c66f;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: all 0.5s ease;
}


/*body.page-id-7 {
    padding-top: 20px;
    padding-bottom: 20px;
}
*/

div.page-id-7.container {
    display: none;
}

div.page-id-7.container.active {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width:767px) {
    .flexbox {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
    }
    .flexbox .col {
        flex: 1;
    }
    ul.who-we-are-menu li:nth-child(1) h1 {
        margin: 0;
        font-size: 2em;
    }
    ul.who-we-are-menu li:nth-child(6) {
        width: 90%;
    }
}


/*Accordion*/

.tab-wrapper {
    float: left;
    width: 100%;
}

.tab {
    position: relative;
    margin-bottom: 5px;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #16a085;
    line-height: 3;
    cursor: pointer;
}

.bg label {
    background: #a0c66f;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    background: #1abc9c;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.bg .tab-content {
    background: #f2f2f2;
}

.tab-content p {
    margin: 1em;
    color: #969696;
}


/* :checked */

.tab input:checked~.tab-content {
    max-height: 10em;
}


/* Icon */

.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab input[type=radio]+label::after {
    content: "\25BC";
}

.tab input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
}


/*--------------------------------------------------------------
####### End Ryan's Styles
--------------------------------------------------------------*/