/* global */


/* 
html,
body {
    height: 100%;
} */

body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Raleway', 'sans-serif';
    /* font-size: 14px; */
}

section {
    padding: 1rem 0;
}

section.highlighted-section {
    background-color: #eee;
}

section.gradient-violet-pink-section {
    background-image: linear-gradient(101deg, #3023ae, #c96dd8);
}

section.background-img-section {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: none;
    border: none;
    transition: background-image 200ms ease-in-out;
}

section .section-title {
    position: relative;
    font-size: 1.64rem;
    font-weight: 400;
    margin-top: 0.8rem;
    margin-bottom: 0.6rem;
}

section .section-title::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    left: -10px;
    border-left: 3px solid #a0c66f;
}

a {
    color: #007bff;
    text-decoration: none;
    background: transparent;
}

b {
    font-size: 120%;
}

button,
input,
textarea {
    font-family: inherit;
}

button {
    position: relative;
    overflow: hidden;
    outline: none;
}

input {
    width: 100%;
    font-size: 1rem;
}

img {
    border: 0;
}


/* material-icon */

.material-icons {
    vertical-align: middle;
}

.material-icons.tiny {
    font-size: 1rem !important;
}

.material-icons.small {
    font-size: 2rem !important;
}

.material-icons.medium {
    font-size: 3rem !important;
}

.material-icons.large {
    font-size: 4rem !important;
}


/* colors */

.blue {
    background-color: #2196f3 !important;
    border-color: #2196f3 !important;
    color: #fff !important;
}

.red {
    background-color: #f44336 !important;
    border-color: #f44336 !important;
    color: #fff !important;
}

.green {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    color: #fff !important;
}

.yellow {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: #000 !important;
}

.gray {
    background-color: #f1f1f1 !important;
    border-color: #f1f1f1 !important;
    color: #000 !important;
}

.dark {
    background-color: #212121 !important;
    border-color: #212121 !important;
    color: rgba(255, 255, 255, 0.7) !important;
}

.transparent {
    background-color: transparent !important;
    border-color: transparent !important;
}

.white-text {
    color: #fff !important;
}


/* text */

.t-1 {
    font-size: 4rem !important;
    line-height: 120% !important;
}

.t-2 {
    font-size: 3rem !important;
    line-height: 120% !important;
}

.t-3 {
    font-size: 2rem !important;
    line-height: 120% !important;
}

.t-4 {
    font-size: 1.5rem !important;
    line-height: 120% !important;
}

.t-5 {
    font-size: 1rem !important;
    line-height: 120% !important;
}


/* circle */

.circle {
    width: 64px !important;
    height: 64px !important;
    padding: 0 !important;
    border-radius: 50% !important;
}


/* effects */

.ripple {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.5);
    animation: ripple 0.6s linear;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}


/* layout */

.container {
    width: 96%;
    padding: 0 2%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.max-container {
    margin: 0 auto;
    max-width: 320px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.col {
    flex: 1 auto;
    padding: 0.75rem;
    box-sizing: border-box;
}

.spacer {
    flex: 2 auto;
}

.close {
    float: right;
    line-height: inherit;
    cursor: pointer;
}

.ratio-1-1::before {
    padding-top: 100% !important;
}

.ratio-4-3::before {
    padding-top: 75% !important;
}

.ratio-16-9::before {
    padding-top: 56.25% !important;
}

.ratio-21-9::before {
    padding-top: 42.8571% !important;
}


/* menubar */

.menubar {
    width: 100%;
    line-height: 64px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.menubar>.container {
    display: flex;
    align-items: stretch;
}

.menubar .menu-toggler {
    cursor: pointer;
    margin: 0 5px;
    order: 1;
}

.menubar .menu-brand {
    display: flex;
    align-items: center;
}

.menubar .menu-logo {
    height: 56px;
}

.menubar .menu-subtitle {
    display: flex;
    align-items: center;
    line-height: 1.2;
    padding: 0 6px;
    font-size: 12px;
}


/* menu */

.menu {
    flex: 1 auto;
    display: flex;
    align-items: stretch;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* overflow-x: auto; */
}

.menu .menu-item,
.menu .menu-link {
    display: block;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 100%;
    /* line-height: 1.6; */
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    white-space: nowrap;
}

.menu .menu-link {
    cursor: pointer;
    transition: all 0.5s ease;
}

.menu .menu-link.active {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 2px 0 -1px #2196f3;
}

.menu .menu-link:hover {
    background-color: #a0c66f;
}


/* banner */

.banner {
    position: relative;
    max-height: 250px;
    overflow: hidden;
}

.banner img {
    display: block;
    width: 100%;
}

.banner .banner-overlay {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .banner-overlay h1 {
    margin: 0;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}


/* forms */

.input-group {
    position: relative;
    margin-top: 1rem;
}

.input-group input {
    border: none;
    background: transparent;
    padding: 0;
    height: 3rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #9e9e9e;
    transition: all 0.3s ease;
}

.input-group label {
    position: absolute;
    top: 1rem;
    left: 0;
    height: 100%;
    z-index: 1;
    cursor: text;
    color: #9e9e9e;
    transform-origin: 0 0;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #26a69a;
    box-shadow: 0 2px 0 0 #26a69a;
    outline: none;
}

.input-group input.invalid {
    border-color: #f44336;
    box-shadow: 0 2px 0 0 #f44336;
    outline: none;
}

.input-group input.has-value+label,
.input-group input:focus+label {
    color: #26a69a;
    top: -1rem;
    font-size: 80%;
}

.input-group input.invalid+label {
    color: #f44336;
    animation-name: shake;
    animation-duration: 0.1s;
    animation-delay: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(0);
    }
}

.btn {
    display: inline-block;
    /* min-width: 88px; */
    height: 36px;
    line-height: 36px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 1rem;
}

.btn.raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn.flat {
    background-color: transparent !important;
}

.btn.rounded {
    border-radius: 32px;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.radio-group input[type="radio"] {
    display: none;
}

.radio-group input[type="radio"]+label {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    height: 26px;
    line-height: 26px;
    padding-left: 3rem;
    margin: 10px 3rem;
    transition: all 0.3s ease;
}

.radio-group input[type="radio"]+label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    margin: 4px;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.radio-group input[type="radio"]:checked+label {
    color: #26a69a;
}

.radio-group input[type="radio"]:checked+label::before {
    background-color: #26a69a;
    border-color: #26a69a;
}


/* dropdown and dropup */

.dropup,
.dropdown {
    position: relative;
}

.dropup .dropdown-btn,
.dropdown .dropdown-btn {
    /* background: transparent; */
    /* border: none; */
}

.dropup .dropdown-btn .rotate,
.dropdown .dropdown-btn .rotate {
    transition: all 0.3s ease;
}

.dropup.show .dropdown-btn,
.dropdown.show .dropdown-btn {
    background-color: #a0c66f;
}

.dropup.show .dropdown-btn .rotate,
.dropdown.show .dropdown-btn .rotate {
    transform: rotateZ(180deg);
}

.dropup .dropdown-content,
.dropdown .dropdown-content {
    display: none;
    min-width: 100%;
    max-height: 250px;
    overflow: auto;
    position: absolute;
    z-index: 10;
    background-color: #f1f1f1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.dropup .dropdown-content {
    bottom: 100%;
}

.dropup.show .dropdown-content,
.dropdown.show .dropdown-content {
    display: block;
}

.dropup .dropdown-content .menu,
.dropdown .dropdown-content .menu {
    flex-direction: column;
    line-height: 50px;
}


/* reveal */

.reveal {
    position: relative;
}

.reveal .reveal-hover {}

.reveal .reveal-content {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    z-index: 10;
    padding: 40% 10px;
    box-sizing: border-box;
    /* display: none; */
}

.reveal:hover .reveal-content {
    display: block;
}


/* list-group */

.list-group {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-group .list-item {
    margin: 15px 24px;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.list-group .list-item.with-avatar {
    position: relative;
    padding-left: 80px;
}

.list-group .list-item.with-avatar .avatar {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    background-color: #ddd;
    text-align: center;
    border-radius: 50%;
}

.list-group .list-item h3 {
    margin: 0;
}


/* chips */

.chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.chip {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 0 12px;
    background-color: #ddd;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.chip img {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 -12px;
    border-radius: 50%;
}

.chip .material-icons {
    opacity: 0.54;
}


/* carousel */

.carousel {
    height: 42.8571vw;
    position: relative;
    overflow: hidden;
}

.carousel .carousel-prev,
.carousel .carousel-next {
    display: block;
    padding: 2rem 0;
    outline: none;
    border: none;
    background: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}

.carousel .carousel-prev:hover,
.carousel .carousel-next:hover {
    background: rgba(0, 0, 0, 0.5);
}

.carousel .carousel-prev {
    left: 0;
}

.carousel .carousel-next {
    right: 0;
}


/* carousel-indicators */

.carousel .carousel-indicators {
    position: absolute;
    bottom: 0;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 24px 4px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.carousel .carousel-indicators li.active {
    background: rgba(255, 255, 255, 1);
}


/* carousel-item */

.carousel .carousel-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.carousel .carousel-item.active {
    display: block;
}

.carousel .carousel-item img {
    display: block;
    width: 100vw;
}


/* carousel animations */

.fade-out {
    animation: fade-out 0.6s forwards ease-in-out;
}

.fade-in {
    animation: fade-in 0.6s forwards ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* promo */

.promo {
    display: flex;
}

.promo .promo-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.promo .promo-content {
    flex: 1 auto;
    text-align: center;
}

.promo .promo-content .promo-title {
    font-size: 18px;
}

.promo .promo-content .promo-text {
    font-size: 14px;
}


/* card */

.card {
    min-height: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card.raised {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.card.thumb {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: none;
    border: none;
}

.card.horizontal-xs {
    flex-direction: row;
}

.card.horizontal-xs .card-img {
    margin: 1rem 0 0 1rem;
    align-self: flex-start;
    flex-basis: 30%;
    max-width: 30%;
}

.card.horizontal-xs .card-img::before {
    padding-top: 100%;
}

.card.horizontal-xs .card-img>img {
    width: auto;
    height: 100%;
}

.card.horizontal-xs .card-stacked {
    flex-basis: auto;
    max-width: none;
}

.card .bottom-overlay {
    margin: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.card.light {
    background: transparent;
    box-shadow: none;
    border: none;
}

.card.small {
    height: 300px;
}

.card.medium {
    height: 450px;
}

.card.large {
    height: 600px;
}

.card .card-img {
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    align-self: stretch;
    margin: -1px;
}

.card .card-img::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.card .card-img>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: auto;
}

.card .card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.card .card-img-overlay.on-hover {
    opacity: 0;
}

.card .card-img-overlay.on-hover:hover {
    opacity: 1;
}

.card .card-img-overlay .btn-floating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    margin-top: -32px;
    margin-left: -32px;
    transition: all 0.3s ease;
}

.bounce:hover {
    animation: bounce 0.2s forwards ease-out;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.2);
    }
}

.card .card-stacked {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    min-height: 0;
}

.card .card-content {
    position: relative;
    flex: 1;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

.card .card-content img {
    display: block;
    max-width: 100%;
}

.card .card-content::after {
    content: "";
    display: block;
    padding-bottom: 1rem;
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    box-shadow: 0 -20px 15px -5px #fff inset;
}

.card.light .card-content::after {
    box-shadow: none;
}

.card .card-title {
    margin: 0;
    padding-top: 8px;
    line-height: 1.5rem;
    font-size: 19px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.card .card-subtitle {
    margin: 0;
    /* padding-bottom: 8px; */
    line-height: 1.25rem;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.54);
}

.card .bottom-overlay .card-title {
    color: rgba(255, 255, 255, 0.87);
}

.card .bottom-overlay .card-subtitle {
    color: rgba(255, 255, 255, 0.54);
}

.card .card-text {
    font-size: 14px;
    margin: 0.5rem 0;
}

.card .card-action {
    flex-shrink: 0;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* border-top: 1px solid rgba(0, 0, 0, 0.2); */
}


/* timeline */

.timeline {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0 20px 0;
}

.timeline::before {
    content: "";
    display: block;
    height: 4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background: #7C9F6F;
}

.timeline .timeline-prev,
.timeline .timeline-next {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 4px solid #ddd;
    border-radius: 50%;
    color: #7C9F6F;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.timeline .timeline-prev {
    left: 0;
}

.timeline .timeline-next {
    right: 0;
}

.timeline .timeline-prev:hover,
.timeline .timeline-next:hover {
    background-color: #7C9F6F;
    border-color: #7C9F6F;
    color: #fff;
}

.timeline .timeline-inner {
    display: inline-block;
    /* align-items: center; */
    position: relative;
    top: -20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
    will-change: transform;
}

.timeline-inner .timeline-item {
    min-width: 300px;
    display: inline-block;
}

.timeline-inner .timeline-link {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #fff;
    border: 2px solid #7C9F6F;
    box-sizing: border-box;
    border-radius: 50%;
    transition: all 200ms ease-in-out;
}

.timeline-inner .timeline-link .date {
    display: none;
    background-color: #7C9F6F;
    width: 150px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    position: absolute;
    top: -34px;
    left: -65px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.timeline-inner .timeline-link .date::before,
.timeline-inner .timeline-link .date::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 6px 0 6px;
    border-style: solid;
}

.timeline-inner .timeline-link .date::after {
    bottom: -6px;
    border-color: #7C9F6F transparent transparent transparent;
}

.timeline-inner .timeline-link .date::before {
    bottom: -7px;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
}

.timeline-inner .timeline-link.active {
    width: 32px;
    height: 32px;
}

.timeline-inner .timeline-link.active,
.timeline-inner .timeline-link:hover {
    background-color: #7C9F6F;
}

.timeline-inner .timeline-link.active .date {
    top: -38px;
    left: -61px;
}

.timeline-inner .timeline-link.active .date,
.timeline-inner .timeline-link:hover .date {
    display: block;
    animation: popover 200ms ease-out;
}

@keyframes popover {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    80% {
        opacity: 0.8;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/* panel */

.panel {
    display: none;
}

.panel.active {
    display: block;
}


/* collapse / accordion */

.accordion {
    list-style-type: none;
    padding: 1px;
    margin: 16px 0;
}

.accordion>li {
    background-color: #fff;
    margin: 0 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s ease;
}

.accordion>li.active {
    margin: 16px 0;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.accordion>li .accordion-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.accordion>li .accordion-body {
    display: none;
    padding: 1rem 1.5rem;
}

.accordion>li.active .accordion-body {
    display: block;
}


/* bottom sheet */

.bottom-sheet {
    transform: translateY(100%);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    margin: 0 auto;
    transition: all 0.5s ease;
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, .12);
}

.bottom-sheet.fullscreen {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
}

.bottom-sheet.open {
    transform: translateY(0);
}


/* progress */

.progress {
    width: 100%;
    height: 5px;
    line-height: 1;
    position: relative;
    background-color: #ddd;
    box-sizing: border-box;
    cursor: pointer;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.progress .progress-bar {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: inherit;
    will-change: width;
}

#time-buffered {
    background-color: #aaa;
    z-index: 1;
}

#volume-current,
#time-current {
    background-color: #f44336;
    z-index: 2;
}

.progress .progress-float {
    position: absolute;
    display: none;
    bottom: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -10px);
    background-color: #212121;
    color: #fff;
    font-size: 14px;
    padding: 4px;
}

.progress .progress-float::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, 100%);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
    border-width: 5px 5px 0 5px;
}

.progress .progress-float::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    border-style: solid;
    border-color: #212121 transparent transparent transparent;
    border-width: 5px 5px 0 5px;
}

.progress:hover .progress-float {
    display: block;
}

.progress .progress-handle {
    position: absolute;
    top: 50%;
    display: block;
    opacity: 0;
    width: 10px;
    height: 10px;
    /* border: 1px solid #212121; */
    /* box-shadow: 0 -1px 0 #212121, 1px 0 0 #212121, 0 1px 0 #212121, -1px 0 0 #212121; */
    background-color: #f44336;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 3;
    will-change: left;
    transition: opacity 0.3s ease;
}

.progress:hover .progress-handle {
    opacity: 1;
}


/* gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery::after {
    content: '';
    flex-grow: 9999;
    min-width: 300px;
    height: 0;
}

.gallery .photo-container {
    flex: 1 auto;
    display: block;
    height: 300px;
    margin: 2.5px;
    position: relative;
}

.gallery .photo-container img {
    /* display: block; */
    top: 0;
    left: 0;
    height: 300px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
    cursor: zoom-in;
    transition: all 375ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.gallery .photo-container img:not(.zoomed-in):hover {
    opacity: 0.8;
}

.gallery .photo-container img.zoomed-in {
    position: absolute;
    z-index: 1001;
    cursor: zoom-out;
}

.gallery .photo-container #img-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}


/* media queries on max-width */


/* xs */

@media (max-width: 575px) {
    .hide-on-xs-below {
        display: none !important;
    }
    .xs-3 {
        flex-basis: 25% !important;
        max-width: 25% !important;
    }
    .xs-4 {
        flex-basis: 33% !important;
        max-width: 33% !important;
    }
    .xs-5 {
        flex-basis: 41.66% !important;
        max-width: 41.66% !important;
    }
    .xs-6 {
        flex-basis: 50% !important;
        max-width: 50% !important;
    }
    .xs-7 {
        flex-basis: 58.33% !important;
        max-width: 58.33% !important;
    }
    .xs-8 {
        flex-basis: 66.66% !important;
        max-width: 66.66% !important;
    }
    .xs-9 {
        flex-basis: 75% !important;
        max-width: 75% !important;
    }
    .xs-12 {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}


/* sm 576 - 767px */

@media (min-width: 576px) {
    .max-container {
        max-width: 660px;
    }
    .hide-on-xs-above {
        display: none !important;
    }
    .sm-3 {
        flex-basis: 25% !important;
        max-width: 25% !important;
    }
    .sm-4 {
        flex-basis: 33% !important;
        max-width: 33% !important;
    }
    .sm-5 {
        flex-basis: 41.66% !important;
        max-width: 41.66% !important;
    }
    .sm-6 {
        flex-basis: 50% !important;
        max-width: 50% !important;
    }
    .sm-7 {
        flex-basis: 58.33% !important;
        max-width: 58.33% !important;
    }
    .sm-8 {
        flex-basis: 66.66% !important;
        max-width: 66.66% !important;
    }
    .sm-9 {
        flex-basis: 75% !important;
        max-width: 75% !important;
    }
    .sm-12 {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 767px) {
    .hide-on-sm-below {
        display: none !important;
    }
    .collapse-sidenav {
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        overflow: auto;
        background-color: #fff;
        z-index: 1001;
        transform: translateX(100%);
        transition: all 0.5s ease;
    }
    .collapse-sidenav.open {
        transform: translateX(0);
    }
    .collapse-sidenav h2 {
        margin: 0;
        padding: 0 1rem;
    }
    .v-on-sm-below {
        flex-direction: column !important;
    }
    .dropdown .dropdown-content.static-on-sm-below {
        position: static;
        box-shadow: none;
    }
}


/* md 768 - 959px */

@media (min-width: 768px) {
    .hide-on-sm-above {
        display: none !important;
    }
    .menu-toggler {
        display: none;
    }
    .collapse-sidenav h2 {
        display: none;
    }
    .banner .banner-overlay h1 {
        font-size: 2.5rem;
    }
    .v-on-md-above {
        flex-direction: column;
    }
    .md-3 {
        flex-basis: 25% !important;
        max-width: 25% !important;
    }
    .md-4 {
        flex-basis: 33% !important;
        max-width: 33% !important;
    }
    .md-5 {
        flex-basis: 41.66% !important;
        max-width: 41.66% !important;
    }
    .md-6 {
        flex-basis: 50% !important;
        max-width: 50% !important;
    }
    .md-7 {
        flex-basis: 58.33% !important;
        max-width: 58.33% !important;
    }
    .md-8 {
        flex-basis: 66.66% !important;
        max-width: 66.66% !important;
    }
    .md-9 {
        flex-basis: 75% !important;
        max-width: 75% !important;
    }
    .md-12 {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 959px) {
    .v-on-md-below {
        flex-direction: column !important;
    }
}


/* lg 960 - 1279px */

@media (min-width: 960px) {
    .max-container {
        max-width: 960px;
    }
    .v-on-lg-above {
        flex-direction: column;
    }
    .card.horizontal {
        flex-direction: row;
    }
    .card.horizontal .card-img {
        flex-basis: 50%;
        max-width: 50%;
    }
    .card.horizontal .card-img::before {
        padding-top: 100%;
    }
    .card.horizontal .card-img>img {
        width: auto;
        height: 100%;
    }
    .card.horizontal .card-stacked {
        flex-basis: 50%;
        max-width: 50%;
    }
    .lg-3 {
        flex-basis: 25% !important;
        max-width: 25% !important;
    }
    .lg-4 {
        flex-basis: 33.33% !important;
        max-width: 33.33% !important;
    }
    .lg-5 {
        flex-basis: 41.66% !important;
        max-width: 41.66% !important;
    }
    .lg-6 {
        flex-basis: 50% !important;
        max-width: 50% !important;
    }
    .lg-7 {
        flex-basis: 58.33% !important;
        max-width: 58.33% !important;
    }
    .lg-8 {
        flex-basis: 66.66% !important;
        max-width: 66.66% !important;
    }
    .lg-9 {
        flex-basis: 75% !important;
        max-width: 75% !important;
    }
    .lg-12 {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}

@media (max-width: 1279px) {
    .v-on-md-below {
        flex-direction: column !important;
    }
}


/* xl 1200px and above */

@media (min-width: 1280px) {
    .max-container {
        max-width: 1184px;
    }
    .v-on-xl-above {
        flex-direction: column;
    }
    .card.horizontal {
        flex-direction: row;
    }
    .card.horizontal .card-img {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }
    .xl-2 {
        flex-basis: 16.66% !important;
        max-width: 16.66% !important;
    }
    .xl-3 {
        flex-basis: 25% !important;
        max-width: 25% !important;
    }
    .xl-4 {
        flex-basis: 33.33% !important;
        max-width: 33.33% !important;
    }
    .xl-5 {
        flex-basis: 41.66% !important;
        max-width: 41.66% !important;
    }
    .xl-6 {
        flex-basis: 50% !important;
        max-width: 50% !important;
    }
    .xl-7 {
        flex-basis: 58.33% !important;
        max-width: 58.33% !important;
    }
    .xl-8 {
        flex-basis: 66.66% !important;
        max-width: 66.66% !important;
    }
    .xl-9 {
        flex-basis: 75% !important;
        max-width: 75% !important;
    }
    .xl-12 {
        flex-basis: 100% !important;
        max-width: 100% !important;
    }
}

@media (min-width: 1440px) {
    .max-container {
        max-width: none;
    }
}


/*--------------------------------------------------------------
####### Start Ryan's Styles
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
    padding: 3%;
}

@media screen and (min-width:767px) {
    .content {
        float: left;
        padding: 0 2%;
        width: calc(96% - 26% - 30px);
    }
    .sidebar {
        width: 24%;
        padding: 0 1%;
        float: left;
    }
}


/*--------------------------------------------------------------
# Who We Are
--------------------------------------------------------------*/

.who-we-are-bg-side {
    background-color: #f2f2f2;
    border-top: 2px solid #a0ce4e;
}

.flexbox .col {
    min-height: 180px;
    padding: 20px;
    height: auto;
}

.flexbox .col:nth-child(1) {
    background-image: url(https://avada.theme-fusion.com/church/wp-content/uploads/sites/35/2015/09/mission_image2.jpg);
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexbox .col:nth-child(2) {
    background-color: rgb(234, 234, 234);
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    color: #747474;
    padding-left: 5%;
    padding-right: 5%;
}

.flexbox .col:nth-child(2) p {
    text-align: justify;
}

.who-we-are p {
    color: #424242;
}

.who-we-are-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.who-we-are-menu li {
    line-height: 1.5;
    /* padding: 5px 5px 7px 5px;*/
    padding: 0;
    margin: 1em 0;
}

.h-divider {
    background-color: #a0c66f;
    height: 4px;
    width: 120px;
}

ul.who-we-are-menu li:nth-child(1) h1 {
    margin: 0;
    font-size: 3em;
}

ul.who-we-are-menu li:nth-child(4) h5 {
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

ul.who-we-are-menu li:nth-child(5) {
    color: #969696;
    font-size: 0.9rem;
    line-height: 2;
    padding-bottom: 15px;
}

ul.who-we-are-menu li:nth-child(6) {
    background-color: #a0c66f;
    color: #fff;
    padding: 8px 10px;
    text-align: center;
    width: 60%;
}

ul.who-we-are-menu li:nth-child(6) span {
    font-size: 0.85rem;
}

ul.who-we-are-menu li:nth-child(6) i {
    vertical-align: middle;
    font-size: 1.5rem;
}

ul.who-we-are-menu li:nth-child(6):hover {
    border: 1px solid #a0c66f;
    color: #a0c66f;
    background-color: #f2f2f2;
    cursor: pointer;
    transition: all 0.5s ease;
}


/*body.page-id-7 {
    padding-top: 20px;
    padding-bottom: 20px;
}
*/

div.page-id-7.container {
    display: none;
}

div.page-id-7.container.active {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width:767px) {
    .flexbox {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
    }
    .flexbox .col {
        flex: 1;
    }
    ul.who-we-are-menu li:nth-child(1) h1 {
        margin: 0;
        font-size: 2em;
    }
    ul.who-we-are-menu li:nth-child(6) {
        width: 90%;
    }
}


/*Accordion*/

.tab-wrapper {
    float: left;
    width: 100%;
}

.tab {
    position: relative;
    margin-bottom: 5px;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #16a085;
    line-height: 3;
    cursor: pointer;
}

.bg label {
    background: #a0c66f;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    background: #1abc9c;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}

.bg .tab-content {
    background: #f2f2f2;
}

.tab-content p {
    margin: 1em;
    color: #969696;
}


/* :checked */

.tab input:checked~.tab-content {
    max-height: 10em;
}


/* Icon */

.tab label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.tab input[type=radio]+label::after {
    content: "\25BC";
}

.tab input[type=radio]:checked+label::after {
    transform: rotateX(180deg);
}


/*--------------------------------------------------------------
####### End Ryan's Styles
--------------------------------------------------------------*/